* {
    box-sizing: border-box;
    color: white;
    scrollbar-width: thin;
    -ms-overflow-style: thin;
}

body {
    overflow-x: hidden;
    font-family: 'gg sans Normal Regular';
    background: #1a1a1a;
}

.grid {
    display: grid !important
}

.gray {
    color: gray;
}

.cursive-text {
    font-style: italic;
}

.bold-text {
    font-weight: bold;
}

.headerbuttons {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.headerbtn {
    font-family: 'gg sans SemiBold Regular';
    font-weight: 500;
    display: flex;
    align-content: center;
    align-items: center;
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px;
    background-color: #2b2b2b;
    border-radius: 2px;
    outline: solid 1px #464646;
    text-decoration: none;
    color: white;
    transition: background-color .2s, max-width .4s;
}

.headerbtn>.material-symbols-outlined {
    margin-right: 5px;
}

.headerbtn:hover {
    background-color: #414141;
    outline: solid 1px #707070;
    max-width: 150px;
}

.headerbtn:active {
    background-color: #2b2b2b;
    outline: solid 1px #464646;
}

.container {
    margin: 0;
    display: grid;
    gap: 5px
}

.threaditem {
    background-color: #2b2b2b;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
    outline: solid 1px #464646;
    box-shadow: black 2px 1px 5px 1px;
    transition: background-color .2s;
}

.thread {
    display: flex;
    flex-direction: column;
}

.thread-author {
    display: flex;
    margin-bottom: 10px;
}

.thread-author-info {
    display: flex;
    height: min-content;
    gap: 5px;
}

.forumname {
    display: flex;
    align-items: center;
}

.channelhashtag {
    margin-right: 5px;
    font-family: 'gg sans Bold';
}

.guild {
    display: flex;
    flex-direction: column;
}

.guildname,
.threadname {
    font-size: 20px;
    font-family: 'gg sans Bold';
}

.guildid {
    font-style: italic;
    font-size: 12px;
}

.firstmsg {
    margin-bottom: 10px;
    max-width: calc(100vw - 15px);
}

.threaditem:nth-of-type(1) {
    border-top-left-radius: 0;
}

.threaditem[href]:not([href=""]):hover {
    background-color: #414141;
    outline: solid 1px #707070;
}

.threaditem[href]:not([href=""]):active {
    background-color: #2b2b2b;
    outline: solid 1px #464646;
}

.subitem {
    margin-left: 30px;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin-top: 20px;
}

img:not(.attachment-img) {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 3px;
}

.attachment-img {
    max-width: 100px;
    border-radius: 3px;
}

a {
    color: #009fff;
}

.attachment-file {
    padding: 10px;
    padding-left: 5px;
    background: #1a1a1a;
    text-align: left;
    max-width: 250px;
    border-radius: 3px;
    text-decoration: none;
    display: flex;
    align-content: center;
    align-items: center;
}

.attachment-file-info {
    display: grid;
    gap: 5px;
}

.attachment-file-size {
    font-size: 12px;
    color: #575757;
}

.attachment-file>a {
    text-decoration: none;
}

.attachment-file>img {
    filter: brightness(200%);
    width: 35px;
    height: 35px;
}

.threaditem>div>p,
.threaditem>div>h3 {
    margin: 0
}

.threaditem>div>h3 {
    margin: 0;
}

.threaditem>div>p {
    margin: 0;
    margin-top: 10px
}

.inline-text {
    background: #1a1a1a;
    padding: 3px;
    border-radius: 3px;
}

.mention {
    background-color: #5f72d16e;
    padding: 3px;
    border-radius: 3px;
}

.mention:not(.mention-role) {
    cursor: pointer;
}

.mention:hover {
    background-color: #5f72d1;
}

code {
    overflow: auto;
    scrollbar-width: thin;
    position: relative;
    background: #262626 !important;
    display: block;
    padding: 10px;
    border-radius: 3px;
    font-family: Courier New !important;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: pre;
    max-height: 350px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

code::after {
    position: absolute;
    content: 'content_copy';
    font-family: 'Material Symbols Outlined' !important;
    font-size: 20px;
    border-radius: 2px;
    top: 5px;
    right: 5px;
    height: 25px;
    width: 25px;
    opacity: 0;
    cursor: pointer;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
}

code:hover::after {
    opacity: 1;
}

.viewmore {
    margin-top: 5px;
    text-decoration: none;
}

.path {
    text-decoration: none;
    background: #2b2b2b;
    width: max-content;
    outline: solid 1px #464646;
    box-shadow: black 2px 1px 5px 1px;
    padding: 5px;
    font-family: Arial;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: min-content;
    max-width: 250px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    user-select: none;
    transition: background-color .2s;
}

.path:hover {
    background-color: #414141;
    outline: solid 1px #5c5c5c;
}

.path:active {
    background-color: #2b2b2b;
    outline: solid 1px #464646;
}

.message-content {
    width: 100%;
}

.message-content>*:last-child {
    margin-bottom: 0;
}

.message-content>*:first-child {
    margin-top: 0;
}